html, body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0px;
  padding: 0px;
}

.no-cover.main-header {
  min-height: 160px;
  max-height: 40vh;
  background: #f5f8fa;
}

.no-cover .page-title {
  color: rgba(0,0,0,0.8);
}

.page-title {
  margin: 5px 0 5px 0;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
}

header {
  padding-top: 10px;
}

header .profile img {
  border-radius: 50%;
}

header hgroup h1 {
  font-size: 1.5em;
}

header hgroup h2 {
  font-weight: normal;
  margin: 5px 0 5px 0;
  font-size: 1.2em;
}

header hgroup h3 {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0.5em;
  font-style: italic;
  color: #aaa;
  line-height: 1.2em;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav li {
  display: inline-block;
}

header nav a, header nav a:visited {
  font-family: "Open sans", sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
}

header nav li:not(:first-child):before {
  content: '\2219';
  padding: 0 1.2em 0 1em;
}

header ul.social {
  text-align: center;
  padding: 0px;
  margin: 5px 0 5px 0;
}

header ul.social li a.twitter {
  color: #54ACEE;
}

header ul.social li a.github {
  color: #000;
}

header ul.social li a.linkedin {
  color: #069;
}

header ul.social li a.rss {
  color: #f88624;
}

header ul.social li {
  display: inline-block;
  font-size: 2em;
}

header ul.social li:not(:first-child):before {
  content: '\2219';
  padding: 0 0.6em 0 0.4em;
  color: #aaa;
}

.no-cover .page-description {
  color: rgba(0,0,0,0.5);
}

.page-description {
  margin: 5px 0 5px 0;
}

.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.wrap-flex {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 1em 4em;
}

.tags-cloud {
  flex-grow: 1;
  flex-basis: 10%;
}

.tags, .archives {
  flex-grow: 2;
}

.tags-cloud .text {
  text-decoration: none;
  background-color: #e6e6e6;
  padding: .25em .5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.tags-cloud .badge {
  background-color: #fff;
  display: inline-block;
  padding: .25em .3em;
  font-size: 89%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.archives {
  min-width: 10em;
}

.wrap {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #222;
  max-width: 45em;
  margin: 1em auto;
}


@media (max-device-width: 480px) {
  .wrap { 
    font-size: 1em;
    margin: 1em;
  }

  @media (orientation: landscape) {
    .wrap { font-size: 1em; }
  }
}

article img {
  max-width: 100%;
}

code {
  font-size: 0.9em;
  background: #fafafa;
  box-shadow: 0 0 0.2em 0.2em #fafafa;
}

pre {
  background: #fafafa;
  box-shadow: 0 0 0.7em 0.7em #fafafa;
  overflow-y: auto;
}

a {
  color: inherit;
}

article blockquote {
  border-left: 3px solid #aaa;
  margin-left: 0;
  padding-left: 1em;
  opacity: 0.7;
}

article a:hover {
  color: #000;
  border-bottom: 1px dotted #a2a2a2;
}

article.tags li {
  font-size: 0.8em;
}

article .fa-tags a {
  padding: 3px;
  margin: 2px;
  background-color: #e6e6e6;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open sans", sans-serif;
}

h1 {
  font-weight: 800;
  line-height: 1.1em;
}

h2, h3, h4, h5, h6 {
  color: #444;
  line-height: 1.1em;
}

.list, .list__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 3em;
}

.list__item a {
  text-decoration: none;
}

.list__item + .list__item {
  margin-top: 1em;
}

.list time {
  font-style: italic;
  font-size: 0.7em;
  white-space: nowrap;
  display: inline;
}

.list a>time {
  float: right;
}

.list__item-tags {
  font-size: 0.8em;
  overflow: hidden;
  margin-top: 0.2em;
}

.list__item-tags a {
  padding: 4px 6px;
  margin: 2px;
  margin-left: 0;
  background-color: #e6e6e6;
  text-decoration: none;
}

.list__item-tags br {
  display: none;
}

.list__item-desc {
  margin: 0;
  font-size: 0.7em;
  overflow: hidden;
  margin-left: 1.2em;
}

.list__item-desc br {
  display: none;
}

.list__item img {
  max-height: 100px;
  float: left;
  margin-right: 0.6em;
}

.edit-link {
  float: right;
  margin-left: 2em;

  font-size: 0.7em;
  line-height: 2.2;
  white-space: nowrap;
  margin-top: 3px;
}

.back-link {
  float: left;
  margin-right: 2em;

  font-size: 0.7em;
  line-height: 2.2;
  white-space: nowrap;
  margin-top: 3px;
}


blockquote {
  margin: 0px;
  padding-left: 1em;
  box-shadow: 8px 0px 10px -11px #FFF08C inset;
}

blockquote p a:last-of-type {
  font-style: italic;
  font-size: 0.8em;
}
blockquote p a:last-of-type::before {
  content: '—'
}

.flex-header {
  display: flex;
  flex-direction: column;
  flex-flow: row;
  flex-wrap: wrap;
  background: #f5f8fa;
}

.flex-header .to-main-page {
  flex: 10;
  margin: auto;
  margin-left: 1em;
}

.flex-header .profile {
  flex: 2;
  text-align: center;
  font-size: 9px;
}

.article-footer {
  width: 40em;
  margin: 5em auto 0;
  font-size: 0.6em;
  text-align: center;
}

footer hr {
  width: calc(100% - 5em);
}

footer a:hover{
  text-decoration: underline;
}
